#categories::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.category {
    margin: 0 0.3rem;
    padding: 10px;
    border-radius: 50px;
    color: #ffffff;
}

#categories {
    padding: 10px;
}

[v-cloak] {
    display: none;
}

body {
    background: #F4F4F4;
    font-size: 14px;
}

.position-relative {
    position: relative;
}

.icon-new {
    border: 0px solid white;
    position: absolute;
    border-radius: 100px;
    box-shadow: white 0px 0px 3px 1px;
    bottom: 5%;
    right: 5%;
}

#restaurant-header {
    display: block;
    position: relative;
    height: 60vh;
    max-height: 300px;
}

.info-wrapper {
    margin-top: 1rem;
}

.restaurant-title {
    color: #ffffff;
    font-size: 1.3rem;
}

.restaurant-logo {
    overflow: hidden;
    background: white;
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.10);
}

.restaurant-logo img {
    width: 100px;
    height: 100px;
    padding: 0.2rem;
}

#items-container {
    padding-top: 2rem;
}

.item .calories {
    color: #179901;
    font-size: 0.7rem;
}

.price-tag {
    font-weight: bolder;
}

.working-hours {
    display: inline-block;
    margin: 1rem;
    padding: 4px 15px;
    font-size: 13px;
    background: #fff;
    color: #717171;
    border-radius: 120px;
    text-align: center;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.10);
}

.item-image {
    padding: 0px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

h2.category-header {
    background: linear-gradient(to left, #ffd84f, #fff 80%);
    margin-bottom: 1rem;
}

.product-title {
    width: 100%;
    margin-right: 0px;
    font-weight: bold;
}

.category-items-wrapper {
    overflow-x: scroll !important;
    display: flex;
    flex-direction: row;
}

.item {
    position: relative;
    border-radius: 40px;
}

.item.expanded {
    overflow-y: scroll;
    min-width: 200px;
    max-width: 200px;
}

.item-wrapper.expanded .item-action-button {
    position: inherit !important;
}

.item.added {
    background: linear-gradient(130deg, #ffd84f, #fff);
}

.item.unavailable:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: #00000082;
}

.add-to-cart-button {
    background: var(--mainColor);
    color: #ffffff;
    font-weight: bolder;
}

#social-part a img {
    vertical-align: middle;
    padding: 0.5rem;
    background: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 2.8rem;
}

span.extensable {
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

#categories {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    top: 1rem;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.working-hours {
    color: white;
    width: 100%;
    border-radius: 5px;
    margin: 0 0 5px 0
}

#categories::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

#place-order-modal .flatted-well,
#order-section .flatted-well {
    display: inline-block;
    margin: 1rem;
    padding: 4px 15px;
    font-size: 13px;
    background: var(--mainColor);
    color: #fff;
    border-radius: 120px;
    text-align: center;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.10);
}

#order-section .flatted-well {
    border-radius: 5px;
    background: var(--mainColor);
    padding: 5px;
    font-size: 1rem;
}

span.items-count {
    color: #ffffff;
    font-weight: bolder;
    border-radius: 10px;
    color: black;
    position: absolute;
    color: black;
    top: -15%;
    bottom: 50%;
    right: -20%;
    padding: 2px;
    background-color: white;
}

#categories .flatted-well.active {
    background-color: #ffffff;
    color: #000000;
}

#order-section {
    position: absolute;
    height: 50px;
    top: 3%;
    left: 3%;
}

.nb-no {
    border: none;
    outline: none;
}

.nb-no:focus {
    border: none;
    outline: none;
}

#place-order {
    border: none;
    outline: none;
}

#cart {
    position: relative;
}

#cart .badge {
    position: absolute;
    top: -5px;
    left: -15px;
}

.notification {
    position: fixed;
    bottom: 10rem;
    right: -5px;
    z-index: 10000;
    transform: translateX(100%);
    transition: transform 0.1s ease-in-out;
}

.notification.show {
    transform: translateX(0);
}

@media only screen and (max-width: 700px) {
    #restaurant-header {
        max-height: 18rem;
    }
}