.box-categories {
    padding: 10px;
    border: none;
    text-align: right;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: var(--mainColor);
}

#app_main {
    height: 100vh;
    overflow: auto;
}

.min-height {
    min-height: 50px;
}

.rating {
    position: absolute;
    bottom: 12%;
    left: 3%;
    z-index: 10000;
}

.position-absolute-10-5 {
    position: absolute;
    top: 10%;
    left: 5%;
}

.position-relative {
    position: relative;
}

.icon-new {
    border: 0px solid white;
    position: absolute;
    border-radius: 100px;
    box-shadow: white 0px 0px 3px 1px;
    bottom: 8%;
    right: 10%;
}

.box-categories a {
    white-space: nowrap;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
}

body {
    background: transparent;
    font-size: 14px;
}

.item {
    border: none;
    border-radius: 0px;
}

@media only screen and (max-width: 600px) {
    #items-container,
    .container-fluid {
        padding: 0px !important;
        margin-top: 3px;
    }
    .disabled {
        margin: 0px;
    }
    .slide {
        height: 200px;
    }
    .titles {
        z-index: 100 !important;
        bottom: -2%;
        left: 2%;
        right: 2%;
    }
}

@media only screen and (min-width: 600px) {
    .titles {
        z-index: 100 !important;
        left: 30% !important;
        right: 30% !important;
        bottom: 3%;
    }
    .slide {
        height: 600px;
    }
    .space {
        height: 300px;
    }
}

.item-action-button:focus {
    background-color: transparent;
}

.item-action-button i {
    font-size: 20px;
    padding: 6px;
    background-color: var(--mainColor);
    color: white;
    border-radius: 100px;
}

.item-action-button {
    background-color: transparent;
}

.item-action-button:hover {
    color: white !important;
}

h2.category-header {
    background: none;
}

.category-unselected {
    color: black !important;
    background-color: transparent;
}

#categories::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.category {
    margin: 0 0.3rem;
    padding: 10px;
    border-radius: 50px;
    color: #ffffff;
}

#categories {
    padding: 10px;
}

[v-cloak] {
    display: none;
}

body {
    background: #F4F4F4;
    font-size: 14px;
}

#restaurant-header {
    display: block;
    position: relative;
    height: 60vh;
    max-height: 300px;
}

.info-wrapper {
    margin-top: 1rem;
}

.restaurant-title {
    color: #ffffff;
    font-size: 1.3rem;
}

.logo img {
    z-index: 1;
    border: solid 2px #383838;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 15px;
}

.restaurant-logo img {
    width: 100px;
    height: 100px;
    padding: 0.2rem;
}

#items-container {
    padding-top: 2rem;
}

.item .calories {
    color: #179901;
    font-size: 0.7rem;
}

.price-tag {
    font-size: 14px;
    font-weight: bolder;
    /* border: solid; */
    padding: 5px;
    /* border-color: black; */
    /* background-color: black; */
    border-radius: 2000px;
}

.working-hours {
    display: inline-block;
    margin: 1rem;
    padding: 4px 15px;
    font-size: 13px;
    background: #fff;
    color: #717171;
    border-radius: 120px;
    text-align: center;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.10);
}

.item-image img {
    border-radius: 20px;
}

.item-image {
    /* border: solid 5px #FAF6F3; */
    background-color: #C0D1A0;
    box-shadow: none;
    border-radius: 20px !important;
    padding: 0px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* box-shadow: 0 6px 15px rgb(0 0 0 / 50%);*/
}

.description label {
    margin: 0px;
}

.description {
    display: grid;
    max-width: 180px;
    max-height: 45px;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.;
    margin-top: 10px;
    text-align: right;
}

h2.category-header {
    background: linear-gradient(to left, #ffd84f, #fff 80%);
    margin-bottom: 1rem;
}

.product-title {
    width: 100%;
    margin-right: 0px;
    font-weight: bold;
}

.category-items-wrapper {
    overflow-x: scroll !important;
    display: flex;
    flex-direction: row;
}

.item {
    position: relative;
    border-radius: 40px;
}

.item.expanded {
    overflow-y: scroll;
    min-width: 200px;
    max-width: 200px;
}

.item-wrapper.expanded .item-action-button {
    position: inherit !important;
}

.item.added {
    background: linear-gradient(130deg, #ffd84f, #fff);
}

.label-allergens {
    font-size: 20px;
}

.item.unavailable:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: #00000082;
}

.add-to-cart-button {
    background: var(--mainColor);
    color: #ffffff;
    font-weight: bolder;
}

#social-part a img {
    vertical-align: middle;
    padding: 0.5rem;
    background: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 2.8rem;
}

span.extensable {
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

#categories {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    top: 1rem;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.working-hours {
    color: white;
    width: 100%;
    border-radius: 5px;
    margin: 0 0 5px 0
}

@media only screen and (max-width: 600px) {
    .back-images {
        height: 220px !important;
    }
}

@media only screen and (min-width: 600px) {
    .back-images {
        height: 680px;
    }
}

#categories::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}


/* #place-order-modal .flatted-well,
#order-section .flatted-well {
    display: inline-block;
    margin: 1rem;
    padding: 4px 15px;
    font-size: 13px;
    background: var(--mainColor);
    color: #fff;
    border-radius: 120px;
    text-align: center;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.10);
} */

#order-section .flatted-well {
    border-radius: 5px;
    background: var(--mainColor);
    padding: 5px;
    font-size: 1rem;
}

span.items-count {
    color: #ffffff;
    font-weight: bolder;
    border-radius: 10px;
}

#categories .flatted-well.active {
    background-color: #ffffff;
    color: #000000;
}

#order-section {
    position: absolute;
    height: 50px;
    top: 1%;
    left: 3%;
}

.nb-no {
    border: none;
    outline: none;
}

.nb-no:focus {
    border: none;
    outline: none;
}

#place-order {
    border: none;
    outline: none;
}

#cart {
    position: relative;
}

#cart .badge {
    position: absolute;
    top: -5px;
    left: -15px;
}

.notification {
    position: fixed;
    bottom: 10rem;
    right: -5px;
    z-index: 10000;
    transform: translateX(100%);
    transition: transform 0.1s ease-in-out;
}

.notification.show {
    transform: translateX(0);
}

@media only screen and (max-width: 700px) {
    #restaurant-header {
        max-height: 18rem;
    }
}

.category-selected {
    color: white !important;
}

.category-unselected {
    background-color: transparent !important;
    color: black !important;
}

.logo {
    display: flex !important;
    justify-content: center !important;
    position: absolute !important;
    width: -webkit-fill-available;
    top: 32% !important;
}

.language {
    position: absolute;
    background-color: white;
    border: none;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
}

.fonts {
    text-align: center;
    /* padding: 20px; */
    position: absolute;
    background-color: transparent;
    border: none;
    top: 70px;
}

.fonts-inner-box {
    text-align: center;
    /* padding: 20px; */
    position: absolute;
    background-color: transparent;
    border: none;
    top: 40px;
    z-index: 10;
    width: 300px;
}